<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Our Form</h1>
    <form action="/process" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <br />
        <br />

        <label for="age">Age:</label>
        <input type="number" name="age" id="age">

        <br />
        <br />

        <label for="treats">Treats:</label>
        <select id="treats" name="treats">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

        <br />
        <br />

        <label for="cuddles">Cuddles:</label>
        <select id="cuddles" name="cuddles">
            <option value="true">True</option>
            <option value="false">False</option>
        </select> 

        <br />
        <br />

        <input type="submit">
    </form>
</body>
</html>